<!DOCTYPE html>
<html ng-app="chatApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="chat libre venezuela, salir de viaje ">
  <meta name="keywords" content="chat">
  <title>Chat</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="chatController">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading" id="accordion">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
              <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </div>
          </div>
          <div class="panel-collapse collapsed" id="collapseOne">
            <div class="panel-body" id="chatContent">
              <ul class="chat" >
                <li class="left clearfix" ng-repeat="msg in messages">
                    <span class="chat-img pull-left">
                      <img src="images/logo2.jpg" alt="User Avatar" class="img-circle" style="height: 40px; width: 40px;">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">{{msg.user.nickname}}</strong> <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>{{msg.fecha}}</small>
                      </div>
                      <p>
                       {{msg.text}}
                      </p>
                    </div>
                  </li>
                  <li class="right clearfix"><span class="chat-img pull-right">
                    <img src="images/logo3.jpg" alt="User Avatar" class="img-circle" style="height: 40px; width: 40px;">
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                      <strong class="pull-right primary-font">Bhaumik Patel</strong>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message" enter="sendMsg()">
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMsg()">
                  Send
                </button>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/vendors/jquery.min.js"></script>
  <script type="text/javascript" src="js/vendors/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/vendors/angular.min.js"></script>
  <script type="text/javascript" src="js/chatMain.js"></script>
  <script  src="/socket.io/socket.io.js"></script>
</body>
</html>